body {
    background-color: rgb(141, 156, 76);
    color: aliceblue;
    font-family: "DM Serif Display", serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(141, 156, 76);
    color:rgb(255, 255, 255);
    font-family: "DM Serif Display", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}